#Introduction to Machine Learning - HR Analytics Project

## 1. Defining the Question

### a) Specifying the Data Analysis Question

The Client wants to identify the right
people for promotion

### b) Defining the Metric for Success

We will have accomplished our objective if we build a model that accurately identifies the right people for promotion

### c) Understanding the Context

The Multinational Corporation has nine broad verticals
across the organization. One of the problems they faces is identifying the right
people for promotion (only for the manager position and below) and preparing them in
time.

Currently the process, they are following is:

● They first identify a set of employees based on recommendations/ past
performance.

● Selected employees go through the separate training and evaluation program for
each vertical.

● These programs are based on the required skill of each vertical. 

At the end of the
program, based on various factors such as training performance, KPI completion
(only employees with KPIs completed greater than 60% are considered) etc., the
employee gets a promotion.
For the process mentioned above, the final promotions are only announced after the
evaluation, and this leads to a delay in transition to their new roles. Hence, the company
needs help in identifying the eligible candidates at a particular checkpoint so that
they can expedite the entire promotion cycle.

### d) Recording the Experimental Design

1. Load libraries and datasets.
2. Prepare the data
3. Analyze the data
4. Build model and use it to predict
5. Conclusions and recommedation

### e) Data Relevance

The given data sets were relevant in answering the research question.

## 2. Data Cleaning & Analysis

In [ ]:
# Loading the required libraries



import pandas as pd

import numpy as np


import warnings

warnings.filterwarnings('ignore')

In [ ]:
#read dataset
hr_df=pd.read_csv("https://bit.ly/2ODZvLCHRDataset")

hr_df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [ ]:
#check null values
hr_df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [ ]:

hr_df.drop(['employee_id'], axis=1, inplace=True)

#hr_df['education'] = hr_df['education'].fillna(hr_df['education'].mode(), inplace=True)
hr_df = hr_df[hr_df['education'].notna()]

hr_df['previous_year_rating'].fillna(hr_df['previous_year_rating'].median(), inplace=True)

In [ ]:
#one hot encoding

hr_df= pd.get_dummies(hr_df)
hr_df.head()

   no_of_trainings  ...  recruitment_channel_sourcing
0                1  ...                             1
1                1  ...                             0
2                1  ...                             1
3                2  ...                             0
4                1  ...                             0

[5 rows x 59 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

target = hr_df['is_promoted']
features = hr_df.drop(['is_promoted'], axis=1)
features_train, features_valid, target_train, target_valid = train_test_split(
    features, target, test_size=0.25, random_state=12345
)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=12345, n_estimators=3)
model.fit(features_train, target_train)
predicted_valid = model.predict(features_valid)

In [ ]:
new_hr_df=pd.read_csv("/content/test_2umaH9m.csv")
new_hr_df.drop(['employee_id'], axis=1, inplace=True)
new_hr_df['previous_year_rating'].fillna(new_hr_df['previous_year_rating'].median(), inplace=True)
new_hr_df= pd.get_dummies(new_hr_df)
new_hr_df.isnull().sum()

new_hr_df.head()

   no_of_trainings  ...  recruitment_channel_sourcing
0                1  ...                             1
1                1  ...                             0
2                1  ...                             0
3                3  ...                             0
4                1  ...                             1

[5 rows x 58 columns]

In [ ]:
new_features=new_hr_df
new_features['is_promoted']= model.predict(new_features)
new_features.sample(10)

       no_of_trainings  age  ...  recruitment_channel_sourcing  is_promoted
7424                 1   28  ...                             1            0
205                  1   37  ...                             0            0
2857                 1   40  ...                             0            0
11716                1   33  ...                             0            0
16991                2   35  ...                             0            0
7475                 2   51  ...                             1            0
13713                1   42  ...                             1            0
18613                1   40  ...                             1            0
18581                1   32  ...                             0            0
11201                1   47  ...                             0            0

[10 rows x 59 columns]

In [ ]:

new_features['is_promoted'].value_counts()

0    22309
1     1181
Name: is_promoted, dtype: int64